<div *ngIf="elementService.carregant() == false">

  <cdk-virtual-scroll-viewport [itemSize]="itemHeight" class="viewport">

    <div *cdkVirtualFor="let fila of files; trackBy: trackByFila" class="fila">

      <app-targeta-taladro *ngFor="let item of fila; trackBy: elementService.trackById" [taladro]="item">
      </app-targeta-taladro>

    </div>

  </cdk-virtual-scroll-viewport>

  <ng-template #sinResultados>
    <div *ngIf="this.elementService.error() == ''; else error">
      <p>No se encontraron resultados</p>
    </div>
    <ng-template #error>
      <p>{{this.elementService.error()}}</p>
      <Button class="reintentarBtn" (click)="retryConnection()">Reintentar</Button>
    </ng-template>
  </ng-template>
</div>