h1{
    color: #177986;
}

.detall-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.img-container{
    display: flex;
    flex-direction: column;
    padding: 2em;
}

.text-container{
    padding: 2em;
    font-size: 1.5em;

    p{
        color: #df7409;
    }

    strong{
        color: #177986;
    }
}

img{
    width: 200px;
    height: 200px;
}