<header>
  <h1>Satisfactory Resource Tracker</h1>

  <nav class="menu-principal">
    <a routerLink="/taladros" routerLinkActive="actiu">Taladros</a>
    <a routerLink="/cerca" routerLinkActive="actiu">Cerca</a>
    <a routerLink="/preferits" routerLinkActive="actiu">Preferits</a>

    <div class="auth-status" *ngIf="usuari$ | async as usuari; else noAutenticat">
      <span class="usuari-nom">Hola, {{ usuari.nom }}</span>
      <button (click)="logout()" class="btn-logout">Sortir</button>
    </div>

    <ng-template #noAutenticat>
      <a routerLink="/login" routerLinkActive="actiu" class="btn-login">
        Iniciar sessió
      </a>
    </ng-template>

  </nav>
</header>

<main>
  <router-outlet></router-outlet>
  <div *ngIf="elementService.carregant() == true" class="spinner-container">
    <div class="spinner"></div>
  </div>
</main>

<footer>
  <p>&copy; 2026 SRT Carlos Vilches Siuro</p>
</footer>