form{
  display: flex;
  justify-content: center;
}

input.ng-invalid.ng-touched {
  border: 2px solid red;
}

input.ng-valid.ng-touched {
  border: 2px solid green;
}

small {
  color: red;
  display: block;
  margin-top: 5px;
}

button{
  margin-left: 1em;
  background-color: #00ACC1;
  border: 1px solid #097f8f;
}

button:hover{
  background-color: #097f8f;
}